node_modules/
.expo/
dist/
npm-debug.*
.env
.vscode/
.npmrc
.node_repl_history

*.jks
*.p8
*.p12
*.key
*.log
*.zip
*.psd
*.mobileprovision
*.orig.*
web-build/
assets/img/nao usados/
assets/img/deszipados/

# macOS
.DS_Store