node_modules/
.expo/
dist/
npm-debug.*
.env
.vscode/
.npmrc
.node_repl_history

*.jks
*.p8
*.p12
*.key
*.log
*.zip
*.psd
*.mobileprovision
*.orig.*
web-build/
assets/img/nao usados/
assets/img/deszipados/


        .expo-shared/
        2035.2
        2036.9
        2038.0
        App.js
        Controller.js
        NotificationHandler.js
        
        assets/
        
        controllers/
        
        maarquesbarber2/
        metro.config.js
        migrations/
        models/
        
        views/
        

# macOS
.DS_Store